@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

/* font-family: 'Mulish', sans-serif; */

:root {
    --titulo-fuente: 6rem;
    --card-title-fuente: 2rem;
    --card-text-fuente: 1.5rem;
}

@media screen and (max-width:992px) {
    .container-fluid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .card {
        margin: 30px;
    }

    .card-img-overlay {
        text-align: center;
        /*top: 140px;*/
    }

    .titulo-tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1rem;
    }
}

@media screen and (max-width:768px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .card {
        margin: 5px;
        margin-bottom: 10px;
    }

    .card-img-overlay {
        text-align: center;
        /*top: 140px;*/
    }

    .titulo-tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.8rem;
    }
}

@media screen and (min-width:992px) {
    .container-fluid {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card {
        margin: 30px;
    }

    .card-img-overlay {
        text-align: center;
        /*top: 140px;*/
    }

    .titulo-tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .card-title {
        font-size: var(--card-title-fuente);
    }

    .card-text {
        font-size: var(--card-text-fuente);
    }
}
.header {
    margin: 30px;
    text-align: start;
}

.titulo {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: var(--titulo-fuente);
    color: #0a2ff1;
}

.card-title {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    margin: 0;
}

.card-text {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

